<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline" class="mr-2" [style.width.px]=150>
    <mat-label>Número mínimo</mat-label>
    <input matInput type="number" autocomplete="off" formControlName="start" placeholder="Número mínimo" required [min]="1" [max]="100" [step]="1">
    <mat-hint>Menor número do sorteio</mat-hint>
    <mat-error *ngIf="form.get('start')?.hasError('required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="form.get('start')?.hasError('min')">Deve ser maior que 1</mat-error>
    <mat-error *ngIf="form.get('start')?.hasError('max')">Deve ser até 100</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="mr-2" [style.width.px]=150>
    <mat-label>Número máximo</mat-label>
    <input matInput type="number" autocomplete="off" formControlName="end" placeholder="Número máximo" required [min]="1" [max]="100" [step]="1">
    <mat-hint>Maior número do sorteio</mat-hint>
    <mat-error *ngIf="form.get('end')?.hasError('required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="form.get('end')?.hasError('min')">Deve ser maior que 1</mat-error>
    <mat-error *ngIf="form.get('end')?.hasError('max')">Deve ser até 100</mat-error>
  </mat-form-field>

  <br><br>

  <button mat-raised-button type="submit"
          color="accent" [disabled]="!form.valid"
          [style.width.px]="120"
  >
    Começar!
  </button>

</form>
